######### MAIN DEFAULTS #######################################
DirectoryIndex index.html index.htm index.php


############ Redirect to https #################################
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]